
<% if current_user %>
  hello, <%= current_user.nickname %>.
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Sign in with Github", "/auth/github"%>
<% end %>

<br><br>

<!-- <img src="https://avatars3.githubusercontent.com/u/25907721?v=4" alt="" style="width:250px;height:128px; padding: 5px;> -->

















<h3>List of Repositories</h3>
<div class="repos">
  <ul>
    <% @dashboard_display.repos.each do |repo| %>
     <li class="repo"> <%= repo.name %> </li>
     <% end %>
  </ul>
</div>
<br><br>

<h3>List of Organizations</h3>
<div class="organizations">
  <ul>
    <% @orgs.map do |org| %>
     <li class="organization"> <%= org[:login]  %> </li>
     <% end %>
  </ul>
</div>

<br><br>

<h3>Basic Info</h3>

 <ul>
<li> starred count: <%= @starred.count %> </li>
 <li>  following: <%= @list_of_following %> </li>
 <li>  followers: <%= @list_of_followers %>
</ul>

<br><br>

<h3> Recent Activity </h3>

<ul>
<% @my_commits.each do |k,v| %>
<li> <%= k %> commit from <%= v %> repo  </li>
<% end %>
</ul>


<br><br>
<br><br>

<h3> Followers Activity </h3>

<ul>
<% @their_activity.each do |activity| %>
<p> <strong> <%= activity[:actor][:login] %> </strong> did <em> <%= activity[:type] %> </em> for <%= activity[:repo][:name] %> on <%= activity[:created_at] %> </p>
 <% end %>
</ul>
