
<% if current_user %>
  hello, <%= current_user.nickname %>.
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Sign in with Github", "/auth/github"%>
<% end %>

<br><br>

<h3>List of Repositories</h3>
<div class="repos">
  <ul>
    <% @repos.map do |repo| %>
     <li class="repo"> <%= repo[:name]  %> </li>
     <% end %>
  </ul>
</div>
<br><br>

<h3>List of Organizations</h3>
<div class="organizations">
  <ul>
    <% @orgs.map do |org| %>
     <li class="organization"> <%= org[:login]  %> </li>
     <% end %>
  </ul>
</div>
